.heading-3
  font-size: 2.1rem
  line-height: 1.1
  font-family: $font-family-base
  color: $gray6

.heading-2, 
  font-size: 2.5rem
  line-height: 1.2
  font-family: $font-family-base
  color: $gray6

p, label, select, option, .boton, .opinion__cita
  font-family: $font-family-base
  color: $font-color-base
  font-size: 1.2rem
  text-justify: left
  
.ball, .letra
  font-size: 2.5rem
  line-height: 1.2
  font-family: $font-family-base
  color: $white


.opinion__guardian
  font-family: 'Catamaran', medium, sans-serif

.opinion__lugar
  font-size: 1rem
  line-height: 1.2
  color: $gray4


