.ball
  width: 1.5em
  height: 1.5em
  border-radius: 50%
  background: $gradient-1
  margin: 0 1em 1.5em 0
  align-content: left
  align-items: left
  float: left
  vertical-align: baseline
  @media screen and (min-width: $breakpoint-md)  
    width: 1.5em
    height: 1.5em
    border-radius: 50%
    background-color: $primary1
    align-content: center
    align-items: center
    margin: 0 auto
    float: none

.letra
  text-align: center
  