.footer
    background-color: $gray6
    text-align: center
    margin-top: 2em
.despedida
    &__logo
        -webkit-filter: brightness(100%)
        filter: brightness(100)
        padding: 1.5em
    &__amor
        color: white
        padding-bottom: 2em
