.movil 
    &__item
        display: none
        margin: 3em auto
        @media screen and (min-width: $breakpoint-md) 
            display: block

            
.infocliente
    border: 1px solid $gray1
    border-radius: 5px
    margin: 3em 2em
    padding: 2em

    &__item
        margin-top: 1.5em

input[type="text"],
input[type="email"],
select
    margin: 0.5em auto
    width: 100%
    border: 1px solid $gray1
    border-radius: 5px
    height: 2em
    padding: 0 0 0 0.5em


.boton
    color: white
    background: $gradient-1
    width: 30%
    border: none
    border-radius: 5px
       





