.logo
    padding-left: 5em 
    padding-bottom: 1em
    padding-top: 1em

.compra
    background-image: url("../assets/jumbo.jpg")
    height: 100%
    width: 100%

.item
    background-color: $transparency2
    vertical-align: baseline
    max-height: 100%
    max-width: 100%
    
    @media screen and (min-width: $breakpoint-md)
        max-height: 100%
        max-width: 100%
        background-color: $transparency2
        vertical-align: baseline

    &__heading
        font-family: $font-family-base
        font-size: 3em
        color: white
        text-align: left
        line-height: 1.1
        padding: 1.25em
.app
    max-widht: 100%
    display: flex
    justify-content: space-evenly
    padding: 4em

    