.how-works
  padding: 1.5em
  height: 100%
  width: 100%
  &__title,
  &__item
  @media screen and (min-width: $breakpoint-md)
    text-align: center

  &__title
    margin-bottom: 1.5em
    margin-top: 1em

  &__item
    margin-bottom: 1em


.heading-3
  margin-bottom: 0.5em
  margin-top: 0.5em

