.ubicacion
    padding: 2em
    &__title
        padding-bottom: 1em
        padding-top: 1em
        margin-left: 0.75em
        @media screen and (min-width: $breakpoint-md)
            text-align: center
    &__mapa
        max-widht: 100%
        margin: 0 1em 
        @media screen and (min-width: $breakpoint-md)
            text-align: center
            max-widht: 100%