.opinion
    padding: 1em
    &__title
        padding-bottom: 0.25em
        padding-top: 0em
        margin-left: 0.75em
        @media screen and (min-width: $breakpoint-md)
            text-align: center
    &__cita
        border: 1px solid $gray1
        border-radius: 5px
        margin: 1em
        padding: 1em
    &__guardian,
    &__lugar
        padding-bottom: 0.25em
        padding-left: 1em
        