{% extends "base.html.twig" %}
{% block body %}
<h1>Nuevo Articulo</h1>
{{form_start(formulario)}}
{{form_widget(formulario)}}
<input type="submit" value="nuevo">
{{form_end(formulario)}}
{% endblock %}